/* Title name */
.TitleName {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: bisque;
    font-size: 40px;
    font-weight: 800;
    font-family: 'Baloo Thambi 2', cursive;
    text-align: center;
    text-shadow: 2px 2px 5px gray;
}

body {
    overflow: hidden;
}

/* Menu for main page */
.menu li {
    display: inline-block;
    margin: 0 50px;
    z-index: 20;
}

.menu ul {
    position: fixed;
    left: 47%;
    top: 56%;
    transform: translate(-50%, -50%);
    border-width: 1px 0;
    list-style: none;
    text-align: center;    
    font-size: 20px;
    font-weight: 800;
    font-family: 'Baloo Thambi 2', cursive;
    text-shadow: 2px 2px 5px gray;
}

.menu a {
    color: bisque;
    text-decoration: none;
}

.menu a:hover {
    text-shadow: 2px 2px 5px black;    
}

.main-area {
    background: linear-gradient(to left, #DEB887,#F5DEB3);
    width: 100%;
    height: 100vh;
}

/* Menu for about me and my projects */
.menu_other li {
    display: inline-block;
    margin: 0 50px;
    z-index: 20;
}

.menu_other ul {
    position: fixed;
    left: 47%;
    top: 1%;
    transform: translate(-50%, -50%);
    border-width: 1px 0;
    list-style: none;
    text-align: center;    
    font-size: 20px;
    font-weight: 800;
    font-family: 'Baloo Thambi 2', cursive;
    text-shadow: 2px 2px 5px gray;
}

.menu_other a {
    color: bisque;
    text-decoration: none;
}

.menu_other a:hover {
    text-shadow: 2px 2px 5px black;    
}

.main-area {
    background: linear-gradient(to left, #DEB887,#F5DEB3);
    width: 100%;
    height: 100vh;
}

/* About me */
@keyframes moveUp {
    0% {
      transform: translateY(500px);
    }
    100% {
      transform: translateY(-1000px);
    }
  }

.image_about_one img {
    flex: 1;
    width: 40%;
    height: auto;
    max-height: 640px;
    /* Set max-height for the image */
    border-radius:14px;
    /* Add border radius to give it a nice curve in the corners */
    box-shadow: 0 14px 18px rgba(0, 0, 0, 0.3);
    /* Add a subtle box shadow */
}

.image_about_one {
  position: fixed;
  bottom: 0;
  left: 5%;
  transform: translateX(-50%);
  animation: moveUp 15s linear infinite;
}

.image_about_one img:hover {
    box-shadow: 0 14px 18px white;
}


.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;    
}
/* Animation */
@keyframes animate {
    0% {
        opacity: 1;
        border-radius: 0;
        transform: translateY(0) rotate(0deg);       
    }
    100% {
        opacity: 0;
        border-radius: 50%;
        transform: translateY(-1000px) rotate(720deg);
    }
}

.circles div {
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    bottom: -150px;
    animation: animate 35s linear infinite;
}

.circles div:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.circles div:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles div:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;    
}

.circles div:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;    
}

.circles div:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;    
}

.circles div:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;    
}

.circles div:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;    
}

.circles div:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;    
}

.circles div:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;        
}

.circles div:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;    
}

/* Footer */ 
footer {
    text-align: center;
    background: linear-gradient(to left, #DEB887,#F5DEB3);
}

.social_media_icons {
    position: fixed;
    left: 50%;
    top: 95%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.social_media_icons img {
    width: 24px;
    height: 24px;
    margin: 5px; /* Add margin if needed */
}
